body {
    font-family: 'Michroma', sans-serif;
    color: white;
    margin: 0;
    font-size: 12px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 1.5em;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color:#171717 ;
  }
  
  .nav-right {
    display: flex;
  }
  
  .nav-right-item {
    margin: 1em;
  }
  
  a:hover {
    cursor: pointer;
    color: rgb(90, 95, 100) !important;
  }
  
  .button-86 {
    margin-top: 0.3em !important;
  }
  
  h1,
  button {
    text-transform: uppercase !important;
    font-weight: normal !important;
  }


  @media (min-width: 899px) {
    .nav-right {
      display: flex;
    }
    .nav-right-item {
      margin: 1em;
    }
  }
  
@media (max-width: 900px) {
  .nav-right{
    display: none;
  }
  nav{
    display: flex;
    align-items: center;
  }
  .nav-item{
    margin: auto;
    }
}
nav a {
  text-decoration: none; /* removes the underline */
  color: white; /* changes the text color */
}
