body {
    font-family: 'Michroma', sans-serif;
    color: white;
    margin: 0;
    font-size: 12px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 1.5em;
  }
  
  .nav-right {
    display: flex;
  }
  
  .nav-right-item {
    margin: 1em;
  }
  
  .nav-right-item:hover {
    cursor: pointer;
    color: rgb(90, 95, 100);
  }
  
  .button-86 {
    margin-top: 0.3em !important;
  }
  
  h1,
  button {
    text-transform: uppercase !important;
    font-weight: normal !important;
  }


  @media (min-width: 600px) {
    .burger-menu {
      display: none;
    }
    .nav-right {
      display: flex;
    }
    .nav-right-item {
      margin: 1em;
    }
  }
  
  @media (max-width: 599px) {
    .nav-right {
      display: none;
    }
    .nav-right.show {
      display: flex;
      flex-direction: column;
      background-color: #333;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 1;
    }
    .nav-right.show .nav-right-item {
      margin: 0.5em 1em;
    }
    .nav-right.show .nav-right-item:hover {
      color: white;
    }
    .burger-menu {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      margin: 0.5em;
    }
    .bar1,
    .bar2,
    .bar3 {
      width: 30px;
      height: 3px;
      background-color: white;
      margin: 6px 0;
      transition: 0.4s;
    }
    .open .bar1 {
      transform: rotate(-45deg) translate(-8px, 7px);
    }
    .open .bar2 {
      opacity: 0;
    }
    .open .bar3 {
      transform: rotate(45deg) translate(-8px, -7px);
    }
  }
  