.hidden{
    display: none;
}
.track-cont{
    padding-top:3em ;
}
.tracks{
    text-align: center;
    font-family: 'Michroma';    
}

.track-img {
    /* width: 50%;
    height: 100%; */
    object-fit: cover;
    -webkit-box-reflect: below 2px linear-gradient(transparent, transparent, #0004);
    transform-origin: center;
    transform: perspective(800px) rotateY(25deg);
    transition: 0.5s;
    max-width: 600px; 
    max-height: 350px;
}

.track-container {
    /* max-width: 600px; */
    /* max-height: 350px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10em;
    margin-bottom: 15em;

}

.track-container:hover .track-img {
    opacity: 0.3;

}

.track-container .track-img:hover {
    transform: perspective(800px) rotateY(0deg);
    opacity: 1;
    cursor: pointer;
}
@media (max-width: 900px) {
    .track-container{
        flex-direction: column;
        margin-bottom: none !important;
    }
    .track-img{
        margin-bottom: 15em;
        max-width: 300px; 
        max-height: 300px;
    }
    .last-track-img{
        margin-bottom: none;
    }
}